#form{
padding: 1rem;
display: grid;
gap: 1rem;
}



.formHeader{
    text-align: center;
    font-size: 2rem;
    font-weight:bold;
    color: white;
    height: fit-content;
    margin-block:auto;
}
.formHeaderContainer{
    display: flex;
    flex-direction: column;
    height: 5rem;
    background-color: steelblue;
}
.images{
    list-style: none;
    display: grid;
    gap: 1rem;
    border: 4px solid rgba(128, 128, 128, .1);
    padding-block: 2rem;
    padding-inline: none;
}
.uList{
    display:flex;
    gap: 1rem;
    flex-direction: column;
    padding-inline: 0px !important;
    height: 100%;
    justify-content: space-between;
}
.images>li{
    height: fit-content !important;
    width: fit-content;
    margin: none;
    padding: none;
}
.listItem{
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    
}

.listItem>input{
    border: 4px solid rgba(128, 128, 128, 0.3);
    padding-block: .5rem;
    padding-inline: .5rem;
    box-sizing: border-box;
   
  
  
}

.select{
    display: flex;
    width: fit-content;
    gap: .5rem;
}
.select>select{
    border: 4px solid rgba(128, 128, 128, 0.3);
    padding-block: .5rem;
    padding-inline: .5rem;
    background-color: white;
}
.select>*{
    margin-block:auto;
    box-sizing: border-box;
 
}
.listItem>*{
    width: 80%;
}
.listItem{
    width: 100%;
    box-sizing: border-box;


}
.listItem> textarea{
    border: 4px solid rgba(128, 128, 128, 0.3);
    padding-block: .5rem;
    padding-inline: .5rem;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    resize: none;
}



.formInnerContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    box-sizing: border-box;
}
.images{
    display: grid;
    grid-template-columns: 25%  25%  25%  25%;
    
}
#textareaContainer{
    flex-grow: 1;
}
#textareaContainer{

}
#submitBtn{
    border: 4px solid red;
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    background-color: red;
    padding-inline:3rem ;
    padding-block:.5rem ;
    width: 40%;
    margin-inline: auto;
    cursor: pointer;
    border-radius: 5px;
}
#submitBtn:hover{
    background-color: white;
    color: red;
}

@keyframes imageAnimation {
    0% {transform: scale(1);}
    100% {transform: scale(2);}
    
}
.img, .icons{
    width: 8rem;
    height: 8rem;
}
.img:hover{
    animation-name: imageAnimation;
    animation-duration: 3s;
    transform: scale(2);
}
.imageContainer{
    width: fit-content;
    height: fit-content;
    display: grid;
}
.icons{
    border: 4px solid steelblue;
    color: rgba(70, 131, 180, 0.6);
    cursor: pointer;
}
.removeBtn{
    background-color: red;
    border: 3px solid red;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-style: italic;
    color: white;
    cursor: pointer;
}
.removeBtn:hover{
    background-color: white;
    color: red;
}
